.menu{
	width: 10% !important;
	    color: #495057;


}
.menu:hover{
	color: #007bff;
}
.active2{
	    border-color: #007bff #dee2e6 #dee2e6     !important;
}.active1{
	    border-color: #007bff #dee2e6 #dee2e6     !important;
	    color: #fff;
}
.jumbotron{
	background: url('https://ak.picdn.net/shutterstock/videos/19102831/thumb/1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.jumbotron-img{
	background:linear-gradient(135deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 50%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREzVBRJWhLtqSvcyR16GPIblBJGNK4QMYoow&usqp=CAU');
	  background-repeat: no-repeat;
    background-size: 100% 100%;
}
}
.lst1{
	width: 20%;
	   border-color:  #dee2e6 #dee2e6  ;
	   height: 100%;
	   /*color: #ccc;*/
}
.atxt{
	color: #000;
}


.cardimg{
	transition: ease-in-out 500ms;
}
.cardimg:hover{
	filter: brightness(.5);
}
.txt{
	opacity: 0;
}
.cardimg:hover .txt{
	opacity: 1;
}.cardimg:hover .atxt{
		color: #0056b3 !important;
}
.cardgroup{
	opacity: 1;
	filter: brightness(.6);
	transition: ease-in-out 500ms;
}

.cardhover{
	transition: ease-in-out 500ms;
}
.cardhover:hover .cardgroup{
	filter: brightness(.2);
}
.back{
    position: relative;
    text-align: center;

}
.item{
    height: auto;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cardhover1{
	transition: ease-in-out 500ms;
	cursor: pointer;
}
.cardhover1:hover{
	background-color: #4a5057!important;
}
.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #fff;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 16px;
}*/
.bg-img{
	background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('https://images.unsplash.com/photo-1506097425191-7ad538b29cef?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29tcHV0ZXIlMjBncmFwaGljc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');



	 height: 40rem; 
	 background-repeat: no-repeat;
	  background-size: cover;
}
.centertext{
	  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%):
}.arrowdwn{
	  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%):
}
.owl-dots{

    margin-bottom: 20px;

    
}
.owl-dot{
    display: inline-block;
    height: 20px !important;
    width: 20px !important;
    background: !important;

    opacity: .8;
    border-radius: 50%;
     background: #ccc !important;

}
.owl-dot .active{
    background: #ECF5E9 !important;
}
.owl-dots button.owl-dot{
    margin: 0 3px;
}



 /*About us timeline */


.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background:  #84f5f3;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 10px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background:  #84f5f3;
    border: 2px solid  #84f5f3;
    /*left: 40%;*/
}

/*.main-timeline .icon:after {
    border: 2px solid #f9d07c;
    left: 3px
}*/

/*.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}*/

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

/*.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #f9d07c;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}*/

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: right;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

/*.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #003a1b ;
    left: -6px
}.main-timeline .date-outer:hover::before {
    background: #f8fbf7 !important ;
  
}
*/


/*.main-timeline .date-outer:after {
    border: 2px solid #f9d07c;
    left: 6px
}
*/
/*.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}*/

/*.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}
*/
/*.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}*/

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}


.imgtxt{
	opacity: 0;
	color: #fff;
	transition: ease-in-out 500ms;
}
.servicesimg{
	transition: ease-in-out 500ms;
}
.serviceimg:hover .imgtxt{
	opacity: 1;
}
.serviceimg:hover .servicesimg{
	filter: brightness(.2);
}
.wpb{
	border: 2px solid #fff;
}


.card-image{
	filter: brightness(0.2);
}
.action:before {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid  #fff ;
    height: 20px;
    width: 20px;
    top: 0px;
    left: 50%;
    margin-left: -20px;
}







