*{
    margin: 0;
    padding: 0;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.row1{
    position: relative;
    
}
.row2{
    position: relative;
    top: -20em;
    background: white;
    box-shadow: 5px 5px 5px;
}
@media only screen and (max-width: 600px) {
  .row2 {
   box-shadow: none;
   top: 0;
  }
}@media only screen and (max-width: 800px) {
  .row2 {
   box-shadow: none;
   top: 1em;
  }
}@media only screen and (max-width: 1200px) {
  .row2 {
   box-shadow: none;
   top: -10em;
  }
}